.login_container[data-v-3343fa30] {
    height: 100%;
    background-color: #2b4b6b
}

.login_box[data-v-3343fa30] {
    width: 450px;
    height: 300px;
    border-radius: 3px;
    top: 50%
}

.login_box .avatar_box[data-v-3343fa30], .login_box[data-v-3343fa30] {
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

.login_box .avatar_box[data-v-3343fa30] {
    height: 130px;
    width: 130px;
    border: 1px solid #eee;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px #ddd
}

.login_box .avatar_box img[data-v-3343fa30] {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #eee
}

.login_form[data-v-3343fa30] {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box
}

.btns[data-v-3343fa30] {
    display: flex;
    justify-content: flex-end
}

.home-container[data-v-2fef9fc8] {
    height: 100%
}

.el-header[data-v-2fef9fc8] {
    background-color: #373d41;
    justify-content: space-between;
    padding-left: 10px;
    color: #fff;
    font-size: 22px
}

.el-header > div[data-v-2fef9fc8], .el-header[data-v-2fef9fc8] {
    display: flex;
    align-items: center
}

.el-header > div span[data-v-2fef9fc8] {
    margin-left: 15px
}

.el-aside[data-v-2fef9fc8] {
    background-color: #333744
}

.el-aside .el-menu[data-v-2fef9fc8] {
    border-right: none
}

.el-main[data-v-2fef9fc8] {
    background-color: #eaedf1
}

.iconfont[data-v-2fef9fc8] {
    margin-right: 20px;
    font-size: 20px
}

.toggle-button[data-v-2fef9fc8] {
    background-color: #4a5064;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer
}

.el-tag[data-v-57ce73e8] {
    margin: 10px
}

.bdtop[data-v-57ce73e8] {
    border-top: 1px solid #eee
}

.bdbottom[data-v-57ce73e8] {
    border-bottom: 1px solid #eee
}

.vcenter[data-v-57ce73e8] {
    display: flex;
    align-items: center
}

.treeTable[data-v-0bfaa80f] {
    margin-top: 15px;
    margin-bottom: 15px
}

.el-cascader[data-v-0bfaa80f] {
    width: 100%
}

.el-button[data-v-0bfaa80f] {
    margin-right: 10px
}

.cat_opt[data-v-101e91e6] {
    margin: 15px 0
}

.el-button[data-v-101e91e6] {
    margin-right: 10px
}

.el-tag[data-v-101e91e6] {
    margin: 10px
}

.button-new-tag[data-v-101e91e6], .input-new-tag[data-v-101e91e6] {
    width: 120px
}

.el-button[data-v-385feb3a] {
    margin-right: 10px
}

.el-steps .el-step[data-v-132e91ad] {
    flex-basis: 16.6667% !important
}

.el-checkbox[data-v-132e91ad] {
    margin: 0 10px 0 0 !important
}

.previewImg[data-v-132e91ad] {
    width: 100%
}

.btnAdd[data-v-132e91ad] {
    margin-top: 15px
}

.el-steps .el-step[data-v-31e46b12] {
    flex-basis: 16.6667% !important
}

.el-checkbox[data-v-31e46b12] {
    margin: 0 10px 0 0 !important
}

.previewImg[data-v-31e46b12] {
    width: 100%
}

.btnEdit[data-v-31e46b12] {
    margin-top: 15px
}

.el-cascader[data-v-0d5e458f] {
    width: 100%
}

#app, body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px
}

.el-breadcrumb {
    margin-bottom: 15px
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important
}

.el-table {
    margin-top: 15px;
    margin-bottom: 15px
}

.el-steps {
    margin: 20px 0
}

.el-step__title {
    font-size: 14px
}

.ql-editor {
    min-height: 300px
}